/* Css for VideoDetails file */

.videoPlayer{
    margin-top: 70px !important;
    margin-left: 15px !important;
}

/* Video Player Details */
.views{
    font-size: small;
}

.icons{
    float: right;
}

.icon{
    margin: 0 5px;
    font-size: 25px;
    cursor: pointer;
}

.description{
    margin-top: 10px;
}

.like-dislike{
    border-bottom: 2px solid lightgray;
}

.subs{
    margin-top: -20px !important;
    font-size: 13px;
}

/* Css for Video Item */
#videoItem{
    margin: 15vh auto !important;

}

.thumbnail_Title{
    font-size: small;
    font-weight: 500;
    margin: 0 auto;
}

.channel_title{
    font-size: small;
}