.logo{
    margin-left: 20px !important;
    font-size: 25px ;

}

.search{
    width: 38vw !important;
    margin: 0 auto !important;
    border: 1px solid lightgray;
    padding-left: 12px;
}

.bt{
    width: 5vw !important;
    margin-left: 0px !important;
    
}

.icons{
    font-size: 25px ;
    margin: 0 10px;
    cursor: pointer;
}